<% if(user.get("prof_img")){ %>
  <img src="<%= user.get("prof_img") %>" alt="prof-pic" class="prof-pic">
<% }; %>

<h1><%= user.escape("username") %></h1>
<h3>Email: <%= user.escape("email") %></h3>
<% if(user.escape("location")){ %>
  <h3>Location: <%= user.escape("location")  %></h3>
<% }; %>

<h3>Member since: <%= user.escape("created_at") %></h3>
<hr>
<h3>Latest Posts</h3>
<ul class="votable posts">

</ul>

<hr>
<h3>Latest Comments</h3>
<ul class="votable comments">

</ul>
