<div class="vote_container clearfix">
<form data-vote="1" data-commentid="<%= comment.id %>">
  <% if(previousVote && previousVote > 0){ %>
   <button class="bolded orange">^</button>
  <% } else { %>
   <button>^</button>
  <% }; %>
</form>
<p><%= comment.get("score") %></p>
<form data-vote="-1" data-commentid="<%= comment.id %>">
  <% if(previousVote && previousVote < 0){ %>
   <button class="bolded blue">v</button>
  <% } else { %>
   <button>v</button>
  <% }; %>
</form>
</div>

<h5><a href="#users/<%= comment.author().id %>"><%= comment.author().escape("username") %></a> @ <%= comment.get("created_at") %>
  <% if(displayPost){ %>
    on <a href="#posts/<%= comment.get("post_id") %>"><%= comment.post().escape("title") %></a> in
    <% comment.post().subs().each( function (sub){ %>
      <a href="#subs/<%= sub.id %>"><%= sub.escape("title") %></a><% if(sub !== comment.post().subs().last()){ %>, <% }; %>
    <% }); %>
  <% }; %>
  :</h5>
<p><%= comment.escape("content") %></p>

<% if(Discoverit.currentUser.isSignedIn()){  %>
  <p class="reply_link"><a class="reply-comment-link" href="javascript:void(0);">reply</a>
  <% if(comment.author().id === Discoverit.currentUser.id){ %>
    - <a class="edit-comment-link" href="javascript:void(0);">edit</a>
    - <a class="delete-comment-link" href="javascript:void(0);">delete</a>
  <% }; %>
  </p>
<% }; %>
