<li class="clearfix">
  <div class="vote_container">
   <form>
     <button>^</button>
   </form>
   <p><%= post.get("score") %></p>
   <form>
     <button>v</button>
   </form>
 </div>
  <p><a href="#posts/<%= post.id %>"><%= post.escape("title") %></a>
  <% if(Discoverit.currentUser.id === post.author().id){ %>
     - <a href="javascript:void(0);">edit</a>
  <% }; %>
  </p>
  <p>by <a href="#users/<%= post.author().id %>"><%= post.author().escape("username") %></a> @ <%= post.escape("created_at") %>
    <% if(fp){ %>
      in
      <% post.subs().each( function (sub){ %>
        <a href="#subs/<%= sub.id %>"><%= sub.escape("title") %></a><% if(sub !== post.subs().last()){ %>, <% }; %>
      <% }); %>
    <% }; %>
    ;
    <a href="#posts/<%= post.id %>#comments"><%= post.get("comment_count") %> comments</a></p>
</li>
