<li class="clearfix-left">
  <div class="vote_container">
  <form data-vote="1">
    <% if(previousVote && previousVote > 0){ %>
     <button class="bolded orange">^</button>
    <% } else { %>
     <button>^</button>
    <% }; %>
   </form>
   <p><%= post.get("score") %></p>
  <form data-vote="-1">
    <% if(previousVote && previousVote < 0){ %>
     <button class="bolded blue">v</button>
    <% } else { %>
     <button>v</button>
    <% }; %>
   </form>
  </div>
  <p class="post-title">
    <% if(post.escape("url")){ %>
      <% var url = post.escape("url"); %>
      <% var shortUrl = url.replace("http://", "").replace("https://", ""); %>
      <% if(shortUrl.substring(0, 7) === 'i.imgur'){ %>
        <% var x = url.lastIndexOf("."); %>
        <% var imgPath = url.substring(0, x); %>
        <% var imgExt = url.substring(x, url.length); %>
          <a href="<%= url %>" target="_blank">
            <img src="<%= imgPath %>s<%= imgExt %>" class="post-thumb" alt="<%= post.escape("title") %>">
          </a>
      <% }; %>
      <% var n = shortUrl.indexOf("/"); %>
      <a href="<%= url %>" target="_blank"><%= post.escape("title") %></a> (<%= shortUrl.substring(0, n != -1 ? n : url.length) %>)
    <% } else { %>
      <a href="#posts/<%= post.id %>"><%= post.escape("title") %></a>
    <% }; %>

  <% if(Discoverit.currentUser.id === post.author().id){ %>
     - <a href="#posts/<%= post.id %>/edit">edit</a>
  <% }; %>
  </p>
  <p class="subtext">by <a href="#users/<%= post.author().id %>"><%= post.author().escape("username") %></a> @ <%= post.escape("created_at") %>
    <% if(fp){ %>
      in
      <% post.subs().each( function (sub){ %>
        <a href="#subs/<%= sub.id %>"><%= sub.escape("title") %></a><% if(sub !== post.subs().last()){ %>, <% }; %>
      <% }); %>
    <% }; %>
    ;
    <a href="#posts/<%= post.id %>#comments"><%= post.get("comment_count") %> comments</a>
  </p>
</li>
