<ul class="votable clearfix">
  <li>
    <%= JST["posts/_post"]({post: post, fp: true}) %>
  </li>
</ul>

<p><a href="<%= post.escape("url") %>" target="_blank"></a></p>
<p><%= post.escape("content") %></p>

<% if(post.comments().length > 0){ %>
  <hr>
  <h3 id="comments">Comments</h3>
  <ul class="votable comments">
    <% topLevelComments.forEach( function (comment){ %>
      <li class="clearfix">
        <%= JST["comments/_comment"]({comment: comment, displayPost: false}) %>
        <% if(post.commentHash()[comment.id]){ %>
          <%= JST["comments/_commentsLoop"]({post: post, curId: comment.id}) %>
        <% }; %>
      </li>
    <% }); %>
  </ul>
<% }; %>
