<div class="right_bar">

  <p><strong><a href="#posts/new/<%= sub.id %>">Submit a Post!</a></strong></p>
  <hr>

  <p><strong><%= sub.escape("title") %></strong>: <%= sub.escape("description") %></p>

  <h3>Mod</h3>
  <ul>
    <li><a href="#users/<%= sub.mod().id %>"><%= sub.mod().escape("username") %></a></li>
  </ul>

  <% if(sub.mod().id === Discoverit.currentUser.id){ %>
    <p><strong><a href="#subs/<%= sub.id %>/edit">Edit sub</a></strong></p>
  <% }; %>
</div>
<h1><%= sub.escape("title") %></h1>
<ul class="votable clearfix posts">

</ul>
