<h1>Edit your sub</h1>

<form action="<%= sub_url(@sub) %>" method="post">
  <%= form_auth %>
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete sub"> (THIS IS IRREVERSIBLE)
</form>
<hr>
<form action=" <%= sub_url(@sub) %>" method="post">
  <%= form_auth %>
  <input type="hidden" name="_method" value="PATCH">

  <%= render "form" %>

</form>
<p><a href="<%= sub_url(@sub) %>">Back to sub</a></p>
