<h1><%= @sub.title %></h1>
<p><%= @sub.description %></p>

<ul class="votable">
  <% @sub.posts.each do |post| %>
    <li>
      <div class="vote_container">
       <form action="<%= upvote_post_url(post) %>" method="post">
         <%= form_auth %>
         <button>^</button>
       </form>
       <form action="<%= downvote_post_url(post) %>" method="post">
         <%= form_auth %>
         <button>v</button>
       </form>
     </div>
      <p><a href="<%= post_url(post) %>"><%= post.title %></a> (<%= post.score %>)
      <% if current_user == post.author %>
         - <a href="<%= edit_post_url(post) %>">edit</a>
      <% end %>
      </p>
      <div class="clear"></div>
    </li>
  <% end %>
</ul>
<div class="clear"></div>
<a href="<%= new_post_url %>?sub_id=<%= @sub.id %>">New Post</a>
