<h1><%= @sub.title %></h1>
<p><%= @sub.description %></p>

<ul class="votable clearfix">
  <% @sub.posts.order(last_activity_stamp: :desc).each do |post| %>
    <%= render "post", post: post, fp: false %>
  <% end %>
</ul>
<a href="<%= new_post_url %>?sub_id=<%= @sub.id %>">New Post</a>
