<h1><%= @post.title %></h1>

<h4>posted in
  <% @post.subs.each do |sub| %>
  <a href="<%= sub_url(sub) %>"><%= sub.title %></a>,
  <% end %>
  by <a href="<%= user_url(@post.author) %>"><%= @post.author.username %></a> @ <%= @post.created_at.to_s(:long) %>
</h4>

<% if current_user == @post.author %>
  <h5><a href="<%= edit_post_url(@post) %>">edit</a></h5>
<% end %>

<p><a href="<%= @post.url %>"><%= @post.url %></a></p>
<p><%= @post.content %></p>

<% if !@post.comments.empty? %>
<hr>
<h3 id="comments">Comments</h3>
  <ul class="votable comments">
  <% top_level_comments = @all_comments.where("parent_comment_id IS NULL") %>
  <% top_level_comments.each do |comment| %>
      <%= display_children_comments(comment) %>
  <% end %>
  </ul>
<% end %>
<hr>

<h3>Add a Comment</h3>
<form action="<%= comments_url %>" method="POST">
  <input type="hidden" value="<%= params[:id] %>" name="comment[post_id]">
  <%= render "comments/new_comment" %>
</form>
