<h1><%= @post.title %></h1>

<% if current_user == @post.author %>
  <h5><a href="<%= edit_post_url(@post) %>">edit</a></h5>
<% end %>

<p><a href="<%= @post.url %>"><%= @post.url %></a></p>
<p><%= @post.content %></p>
