<!DOCTYPE html>
<html>
  <head>
    <title>Discoverit</title>
    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <div id="container">
      <div id="header" class="clearfix">
        <h1><a href="/">Discover<em>it</em></a></h1>
        <p align="right">

        </p>
      </div>

      <div id="cont" class="clearfix">
        <% if flash[:errors] %>
          <ul id="errors">
            <% flash[:errors].each do |error| %>
            <li><%= error %></li>
            <% end %>
          </ul>
        <% end %>

        <%= yield %>
      </div>

      <div id="footer">
        <p>Developed by <a href="http://arielity.net" target="_blank">Ariel Hou</a>. Inspired by <a href="http://reddit.com" target="_blank">Reddit</a>.</p>
      </div>
    </div>


    <!-- let's mix up the color palette using colourlovers' api -->
    <script type="text/javascript">

      var processColors = function (data){
        //data comes back as an array with 1 object
        var paletteObj = data[0];
        paletteTitle = paletteObj.title;
        paletteColors = paletteObj.colors;
        console.log(paletteTitle);
        console.log(paletteColors);
      };

      $.ajax({
        method: 'GET',
        url: "http://www.colourlovers.com/api/palettes/random?format=json&jsonCallback=processColors",
        dataType: 'jsonp',
        success: function(data) {
          console.log(data);
        }
      });

    </script>
  </body>
</html>
