<!DOCTYPE html>
<html>
<head>
  <title>Discoverit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id = "container">
<div id = "header">
<h1><a href="/">Discover<em>it</em></a></h1>
<p align="right">
  <% if logged_in? %>
  Logged in as <%= current_user.email %> - <a href="<%= delete_session_url %>">Log out?</a>
  <% else %>
  <a href="<%= new_session_url %>">Log in</a> || <a href="<%= new_user_url %>">Sign Up</a>
  <% end %>
</p>
<div class = "clear"></div>
</div>

<div id="content">
<% if flash[:errors] %>
  <ul id="errors">
    <% flash[:errors].each do |error| %>
    <li><%= error %></li>
    <% end %>
  </ul>
<% end %>

<%= yield %>
</div>
</div>
</body>
</html>
