<!DOCTYPE html>
<html>
<head>
  <title>Discoverit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="container">
<div id="header" class="clearfix">
<h1><a href="/">Discover<em>it</em></a></h1>
<p align="right">
  <% if logged_in? %>
  Logged in as <a href="<%= user_url(current_user) %>"><%= current_user.username %></a> - <a href="<%= delete_session_url %>">Log out?</a>
  <% else %>
  <a href="<%= new_session_url %>">Log in</a> | <a href="<%= new_user_url %>">Sign Up</a>
  <% end %>
</p>
</div>

<div id="cont" class="clearfix">
<% if flash[:errors] %>
  <ul id="errors">
    <% flash[:errors].each do |error| %>
    <li><%= error %></li>
    <% end %>
  </ul>
<% end %>

<%= yield %>
</div>

<div id="footer">
<p>Developed by <a href="http://arielity.net" target="_blank">Ariel Hou</a>, based off a skeleton project with <a href="https://github.com/aivensong" target="_blank">Aiven Song</a>. Inspired by <a href="http://reddit.com" target="_blank">Reddit</a>.</p>
</div>
</div>
</body>
</html>
