<!DOCTYPE html>
<html>
  <head>
    <title>Repo^2</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Oswald:300,400" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width" />
  </head>
  <body>

    <div id="container">
      <div id="header" class="clearfix">
        <h1><a href="#">Repost<span>Repository</span></a></h1>
        <p id="account-links" align="right">

        </p>
        <p id="color-links">
          <span id="palette-title"></span>
          <a id="switch-colors">Swap Colors! (beta)</a>
          <span id="reset-colors"><a>x</a></span>
        </p>
      </div>

      <div id="cont" class="clearfix">
        <% if flash[:errors] %>
          <ul id="errors">
            <% flash[:errors].each do |error| %>
            <li><%= error %></li>
            <% end %>
          </ul>
        <% end %>

        <%= yield %>
      </div>

      <div id="footer">
        <p>Developed by <a href="http://arielity.net" target="_blank">Ariel Hou</a>.
          Inspired by <a href="http://reddit.com" target="_blank">Reddit</a>.
          Check out the <a href="https://github.com/diiiefiend/discoverit" target="_blank">code</a>.</p>
      </div>
    </div>

    <script type="text/javascript">
      // let's mix up the color palette using colourlovers' api
      $("#switch-colors").on("click", function(e){
        e.preventDefault();
        Discoverit.switchColors();
        $("#reset-colors").show();
      });

      $("#reset-colors a").on("click", function(e){
        e.preventDefault();
        Discoverit.resetColors();
        $("#reset-colors").hide();
      });

      // currently triggered on frontpage, postShow, subShow, userShow,
      // and on success callback of Votable.vote
      $(document).on("pageLoaded", function (){
        if(Discoverit.paletteColors){
          Discoverit.swapColors(Discoverit.paletteColors);
        }
      });
    </script>
  </body>
</html>
